[Unit]
Description=Run paddock every 15 minutes
Requires=paddock.service

[Timer]
Unit=paddock.service
OnBootSec=1min
OnUnitInactiveSec=15m
AccuracySec=1s

[Install]
WantedBy=timers.target