[Unit]
Description=Runs paddock watcher script

[Service]
ExecStart=/usr/bin/python3 -E /usr/lib/paddock/watcher.py
WorkingDirectory=/usr/lib/paddock
EnvironmentFile=/etc/paddock/env.list
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target